# Auto detect text files and perform LF normalization
* text=auto

# Large binary files tracked with Git LFS
*.tga filter=lfs diff=lfs merge=lfs -text
*.blp filter=lfs diff=lfs merge=lfs -text
*.elv filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
